@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  background-image: url('./assets/backgroundImage_trasparente.png');
  background-size: cover;
  background-repeat: no-repeat;
}*/
.helloworld-div {
  position: absolute;
  z-index: 1;
  top: 15%;
  right: 35%;
  left: 20%;
  font-size: 10rem;

  h1 {
    color: rgb(255, 255, 255);
    text-shadow: #474747 3px 5px 2px;
  }
}

.divHeroImage {
  width: 100%;
  height: 100%;
  border-top: 5px solid rgb(0, 0, 0);
  border-bottom: 5px solid black;
}
.heroImage {
  width: 100%;
  height: 100%;
}