@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  background-image: url('./assets/backgroundImage_trasparente.png');
  background-size: cover;
  background-repeat: no-repeat;
}*/

* {
  font-family: 'Poppins', sans-serif;
}

.logo-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  right: 80%;
  left: 5%;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: lighter;

  .code-verse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    height: 50px;
  }

  p {
    font-size: 0.5rem;
  }
}

.helloworld-div {

  h1{
    color: rgb(255, 255, 255);
    text-shadow: #474747 3px 5px 2px;
  }

}

.navbar {
  position: absolute;
  top: 5%;
  right: 11%;
  left: 17%;
  font-size: 1rem;
  font-weight: 400;

  ul {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}


.divHeroImage {
  width: 100%;
  height: 100%;
  border-top: 5px solid rgb(0, 0, 0);
  border-bottom: 5px solid black;
}
.heroImage {
  width: 100%;
  height: 100%;
}